body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #f3b704;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 30px;
    white-space: nowrap;
    vertical-align: middle;
    border-right: 1px solid #353535;
}

.sidebar a {
    padding: 0px 8px 0px 34px;
    text-decoration: none;
    font-size: 25px;
    color: #383634;
    display: block;
    transition: 0.3s;
}
 #first-link{
padding-top: 40px;
}

.sidebar a:hover {
    color: #f1f1f1;
}


.icon-text {
    vertical-align: middle;
    width: 50px;height: 24px;
    margin-left: 10px;padding-bottom: 10px;
    font-size: medium;
}

.material-icons {
    padding-bottom: 3px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
hr{
    border-top: 1px solid #353535;
}
#profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    display: block;
    margin: 0 auto;
    transition: visibility 0.5s ease-in-out;
}

.profile-name {
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #383634;
    transition: visibility 0.5s ease-in-out;
}

.main-container {
    display: flex;
    flex: 1;
    margin-left: 85px;
    background: #3C3F52;
    transition: margin-left 0.5s ease-in-out;
}

#main {
    flex: 1;
    padding: 16px; padding-top: 0;
    transition: padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

.additional-section {
    width: 400px;
    background-color: #eee;
    padding: 16px;
    box-sizing: border-box;
}

.top-left-section,
.top-right-section {
    display: inline-block;
}

.top-left-section {
    margin-right: auto;
}

.top-right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#main .top-right-section {
    float: right;
}

.notification-button,
.message-button,
.post-button {
    background-color: #ddbf29;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out;
}
.notification-button,
.message-button{
  background: none;
}
.post-button {
    border: 1px solid #383634;
    border-radius: 15px;
}

.post-button:hover {
    background-color: #383634;
}

.search-box {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 7px 16px 7px 16px;
}

/* grid gallery */
#imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    transition: transform 0.3s ease-in-out, grid-template-columns 0.3s ease-in-out;
}

#imageGrid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#imageGrid img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 800px) {
    #imageGrid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        transition: transform 0.3s ease-in-out, grid-template-columns 0.3s ease-in-out;
        transition-delay: 3.3s; /* Delay the transition */
    }

    .main-container {
        transition: margin-left 1.5s ease-in-out;
    }
}

@media screen and (max-width: 700px) {
    #imageGrid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    #imageGrid {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
}







.post-container {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    max-width: 400px;
  }

  .post-image {
    max-width: 100%;
    height: auto;
  }

  .post-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .post-buttons button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .post-caption {
    margin-top: 10px;
  }


  .logo {
    text-align: center; /* Center the logo horizontally */
    margin-top: 10px;   /* Adjust the top margin as needed */
  }
  
  .logo img {
    width: 85px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
  }

  .top-container{
    display: flex;
    align-items: center;
  }
  .acc-stats-info{
    display: flex;
    align-items: center;
   vertical-align: middle;
  }
  .posts-count{
    padding-left: 30px;padding-right: 5px;
    border-right: #353535 1px solid;
    
  }

  .followers-count{
    padding-left: 30px;padding-right: 5px;
    border-right: #353535 1px solid;
}
  .following-count{
    padding-left: 20px;padding-right: 5px;
    
}
  .numbers-stats{
   padding-left: 15px;
    font-size: medium;
    font-weight:bold;
    color: #ccc;
    margin-top: 0;margin-top: 3px;
  }
  .text-stats{
    font-size: medium;
    font-weight:bold;
    color: #353535;
    padding-left: 2px;
    margin: 0;
 
  }

            /* POST CARD CONTAINER */


            .glass-container {
              position: relative;
              max-width: 800px;height: 400px;
              padding: 0px;
              background:none;
              border-radius: 10px;
              backdrop-filter: blur(15px);
              box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
              overflow: hidden;
              display: flex; /* Set to flex container */
              align-items: center; /* Center items vertically */
              justify-content: space-between; /* Center items horizontally */
              flex-wrap: nowrap;
              flex-basis: 50%;
            }

            .post-image {
              width:22em;
              border-radius: 8px;
              /* margin-bottom: 15px; */
            }
        
            .post-content {
              color: #fff;
              text-align: center;
              font-family: 'Arial', sans-serif;
              /* display: flex; 
              align-items:center; 
              justify-content: center; 
              flex-wrap: wrap;  */
              width: 50%; /* Set a width for your element */
  margin-left: auto;
  margin-right: auto;
            }
        
            .profile-icon {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: #eee;
              display: block;
              margin-bottom: 10px;
              transition: visibility 0.5s ease-in-out;
              margin-left: auto;margin-right: auto;
            }
        
            #caption {
              margin: 0;
              width: 200px; padding:8px;
              margin-left: auto;margin-right: auto;
              overflow: hidden;
            }
        
           .post-buttons button {width: 50px;
              background: none;
              border: none;
              margin: 0;
              padding: 0;
              cursor: pointer;
            }
           .post-buttons button:hover{
            border: 1px solid #eee;
            border-radius: 20px;
            transition: 0.5s border ;
          transition: 1s border-radius;
           }
        
        
           
            .post-buttons{margin-top: 10px;
              display: flex;
              justify-content: center;
            }