body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd93d ;
}
@font-face {
    font-family: story;
    src: url(/story-cufonfonts/Story.otf);
  }
  @font-face {
    font-family: episode;
    src: url(/episode-1-cufonfonts/EPISODE1.TTF);
  }
  @font-face {
    font-family: fabada;
    src: url(/fabada-cufonfonts/Fabada-regular.otf);
  }
  @font-face {
    font-family: vogue;
    src: url(/vogue-cufonfonts/Vogue.ttf);
  }
  @font-face {
    font-family: midnight;
    src: url(/midnight-workers-cufonfonts/Midnight\ Workers.ttf);
  }
  @font-face {
    font-family: kyoto;
    src: url(/kyoto-northern-cufonfonts/kyoto\ northern.ttf);
  }

                    /* sidebar */
                    .sidenav {
                        height: 100%;
                        width: 85px;
                        position: fixed;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        background-color: #FFD93D;
                        overflow-x: hidden;
                        transition: 0.5s;
                        padding-top: 0px;
                        white-space: nowrap;
                          vertical-align: middle;
                          display: flex;
                          /* align-items: center;
                          flex-direction: column; */
                      }
                      
                      .sidenav a {
                        padding: 8px 8px 8px 20px;
                        text-decoration: none;
                        font-size: 22px;
                        font-family: fabada;
                        color: #080808;
                        display: block;
                        transition: 0.3s;
                        
                      }
                      
                      .sidenav a:hover {
                        color: #f1f1f1;
                      }
                      .sidebar-icon{
                        width: 22px;height: 22px;
                        fill:#1A1A1A;
                        transition: 0.5s fill;
                      }
                      .sidebar-icon:hover{
                        fill: #ffd93d;
                      }
                      
                      .sidenav .closebtn {
                        position:absolute;
                        top: 0;
                        right: 25px;
                        font-size: 36px;
                        margin-left: 50px;
                      }
                      .sidenav .openbtn {
                        position:absolute;
                        padding: 8px 32px 8px 8px;
                        top: 0;
                        left: 18px;
                        font-size: 36px;
                        margin-right: 50px;
                      }
                      .links-container{
                        background: #F6F1E9;
                        height: 567px;width: 59px;
                        margin-top: 20px;top: 50px;position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content:left;
                        margin-left: 8px;
                        border:2px solid #F6F1E9;
                        border-radius: 25px;
                        transition: 0.5s background;
                      }
                      
                      #profile-img {
                          width: 85px;
                          height: 85px;
                          border-radius: 50%;
                          background-color: #eee;
                          display: block;
                          margin: 0 auto;
                          transition: visibility 0.5s ease-in-out;
                          cursor: pointer;
                          top: 100px;left: 85px;position: absolute;
                      }
                      #profile-name{
                        transition: 0.5s visibility ease-in-out;
                      }
                      
                      .profile-name {
                          font-size: 28px;
                          text-align: center;
                          line-height: 50px;
                          font-family: kyoto;
                          color: #383634;
                          transition: visibility 0.5s ease-in-out;
                          cursor: pointer;
                          top: 185px;left: 80px;position: absolute;
                          width: 100px;height: 50px;overflow: hidden;
                          transition: 0.5s color;
                      }
                      .profile-name:hover{
                        color: #e2e2e2;
                      }
                      @media screen and (max-height: 450px) {
                        .sidenav {padding-top: 15px;}
                        .sidenav a {font-size: 18px;}
                      }

/* logo section */
.logo {
    text-align: center; /* Center the logo horizontally */
    margin-top: 10px;   /* Adjust the top margin as needed */
  }
  
  .logo img {
    width: 85px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
  }

  /* Profile Container */

.profile-container {
    max-width: 800px;
    margin: 0px auto 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}
.count-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.count {
    font-weight: bold;
    color: #3498db; /* You can customize the color */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.count-container p{
    margin: 10px;
}

.social-links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-links a {
    
    
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.social-links img {
    vertical-align: middle;
    padding-left: 10px;padding-right: 10px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}
button {
	border-radius: 20px;
	border: 1px solid #ffd93d;
	background-color: #ffd93d;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
	text-shadow: 2px 2px 8px #1b1b1b ; 
  transition: 0.5s background ease-in-out;
}
button:hover{
  background: #ffffff;
  color:#ffd93d ;
  text-shadow: none;
}
#new-post-btn{
  border-radius: 20px;
	border: 1px solid #ffd93d;
	background-color: #ffd93d;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
	text-shadow: 2px 2px 8px #1b1b1b ; 
  transition: 0.5s background ease-in-out;
 float: right;
}
#new-post-btn:hover{
  background: #ffffff;
  color:#ffd93d ;
  text-shadow: none;
}